

form {
	
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 550px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/* radio */
fieldset {
	width: 100%;
	text-align: center;
}

input[type="radio"] {
	display: none;
	+label {
		color: #000;
		font-weight: bold;
		font-size: 1rem;
		cursor: pointer;
		user-select: none;
		padding-left: 20px;
		padding-right: 20px;
		&::before {
			transition: all 250ms cubic-bezier(.4,.25,.3,1);
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: black;
			border: 0px solid black;
			font-size: 0;
			position: absolute;
			bottom: 275%;
			left: 50%;
			transform: translate(-50%, 50%);
		}
		
		&::after {
			transition: all 250ms cubic-bezier(.4,.25,.3,1);
			content: "";
			width: 0;
			height: 0;
			border-radius: 50%;
			background-color: black;
			position: absolute;
			bottom: 275%;
			left: 50%;
			transform: translate(-50%, 50%);
		}
	}
	&:checked + label{
		&::before {
			background-color: transparent;
			width: 30px;
			height: 30px;
			border-width: 2px;
		}
		
		&::after {
			width: 20px;
			height: 20px;
		}
	}
}


/* input */
section.input-container {
	label {
		position: relative;
		display: block;
		input {
			display: block;
			padding: 20px;
			width: 300px;
		  margin-bottom: 10px;
		  outline: none;
			transition: all 0.2s ease-in-out;
			background-color: black;
			font-weight: bold;
			color: #FF7975;
			&::placeholder {
				transition: all 0.2s ease-in-out;
				color: #000;
				font-weight: bold;
			}
			&:focus, &.populated {
				padding-top: 28px;
				padding-bottom: 12px;
				&::placeholder {
					color: black;
				}
				& + span {
				   opacity: 1;
				    top: 10px;
				}
			}
		}
		span {
			font-size: .8rem;
			color: #000;
			position: absolute;
			top: 0px;
			left: 20px;
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
	}
}



.kvsuZZ {
    display: flex;
    flex-direction: row;
}
.flZQCy {
    margin-right: 16px;
    margin-top: 5px;
    text-align: center;
}

.hgCRwk {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    color: rgb(168, 172, 177);
}
.bsSzZm {
    margin-top: 4px;
    color: rgb(34, 37, 41);
}

.iNVSgV {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: #703ca2;
    background-color: #703ca2;
}

.dprcku {
    margin-top: 4px;
    color: rgb(168, 172, 177);
}